groq==0.37.1
chromadb>=0.5.0
python-dotenv==1.1.1
email-validator==2.3.0
requests==2.32.5
gTTS==2.5.4
numpy>=1.26.4,<2.0.0
fastapi==0.135.1
uvicorn==0.41.0
python-jose[cryptography]==3.5.0
openai==2.51.0
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-community
pypdf
passlib[bcrypt]==1.7.4
python-multipart==0.0.22
sqlalchemy==2.0.48
google-auth==2.49.1
firebase-admin==7.5.0